#contact-info{
	 font-size: .8em;
}

.job {
  border-radius: 25px;
  background: #e9e5dc;
  padding: 20px; 
  width: 200px;
  height: 250px; 
}

/* An alternative way of changing the text of accomplishments, without needing to create a class
ul {
	  font-size: .8em;
}*/

.accomplishments {
  font-size: .8em;
}